@font-face {
	font-family: Vazir;
	src: url(../Vazir-Medium-FD.ttf);
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    direction: rtl;
    font: 16px Vazir;
    text-align: justify;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

.container {
    position: absolute;
    top: 0;
    right: 8%;
    left: 8%;
    margin-top: 12%;
    margin-bottom: 72px;
}

.sub-title h3 {
    padding-top: 8px;
}

.text p {
    line-height: 1.72;
}

.image img {
    width: 80%;
    display: block;
    margin: auto;
    box-shadow: 0px 5px 14px black;
    border-radius: 5px;
}

.border-images {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.border-image {
    position: fixed;
    width: 11%;
    z-index: 2;
}

.border-top {
    width: 100%;
    height: 66px;
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    background: white;
    z-index: 1;
}

.border-bottom {
    width: 100%;
    height: 66px;
    position: fixed;
    display: inline-block;
    bottom: 0;
    right: 0;
    background: white;
    z-index: 1;
}

.border-top-right-img {
    transform: rotate(180deg);
    top: 0;
    right: 0;
}

.border-top-left-img {
    transform: rotate(90deg);
    top: 0;
    left: 0;
}

.border-bottom-right-img {
    transform: rotate(270deg);
    bottom: 0;
    right: 0;
}

.border-bottom-left-img {
    bottom: 0;
    left: 0;
}

.head {
    width: 82%;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}

.head-title-hld {
    width: 100%;
    background: lightblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 14em;
    overflow: hidden;
}

.head-title {
    margin-right: 14px;
}

.head-image {
    width: 80px;
    height: 80px;
    border: 3px solid black;
    border-radius: 50%;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
}

.menu-items-item {
    flex-basis: 50%;
    margin-bottom: 12px;
}

.menu-items-item-content {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 0px 2px black;
}

.biography-head-image {
    background: white url("../img/biography-menu.png") no-repeat center center;
    background-size: cover;
}

.olama-head-image {
    background: white url("../img/olama-menu.png") no-repeat center center;
    background-size: cover;
}

.others-head-image {
    background: white url("../img/others-menu.png") no-repeat center center;
    background-size: cover;
}

.velayat-head-image {
    background: white url("../img/vilayat-menu.png") no-repeat center center;
    background-size: cover;
}

@keyframes titleanimation {
    from {
        right: -20%;
    }
    to {
        right: 120%;
    }
}



/*  Olama  */

.olama-items {
    width: 98%;
    margin: 60px auto 0;
    display: flex;
    flex-direction: column;
}

.alem-item {
    display: flex;
    align-items: center;
    box-shadow: 0 0 14px black;
    border-radius: 5px;
    padding: 7px 14px;
    background-color: lightskyblue;
}

.alem-item-image {
    border-radius: 50%;
    /* border: 3px solid darkslategray; */
    overflow: hidden;
    background-color: transparent;
}

.alem-item-image img {
    display: block;
    width: 150px;
    height: 172px;
}

.alem-item-title {
    margin-right: 3%;
}

.alem-item-link {
    margin-bottom: 40px;
}

/*  Others  */

.others-items {
    width: 98%;
    margin: 60px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.other-item {
    display: flex;
    align-items: center;
    padding: 7px 14px;
    justify-content: center;
    flex-direction: column;
}

.other-item-image {
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
}

.other-item-image img {
    display: block;
    width: 124px;
    height: 124px;
}

.other-item-title {
    text-align: center;
}

.other-item-link {
    margin-bottom: 40px;
    flex-basis: 20%;
}

.others-img-hld-double {
    width: 90%;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.sub-title {
    margin: 40px 0;
}

.back-button {
    position: absolute;
    left: 3%;
    top: auto;
    font-size: 18px;
}

.back-button a {
    color: white;
    text-shadow: 0px 2px 8px black;
    padding: 25px;
}

.video {
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
}

/*  Velayat  */

.velayat-faghih-section:before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #2e2e2e;
    display: inline-block;
    margin: 30px 0;
}

#outlink a {
    margin-bottom: 10px;
}

#outlink a:before {
    content: "»";
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

/*  Up Button  */

.up-button {
    position: fixed;
    bottom: 72px;
    left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateY(200px);
    transition: transform .3s;
    z-index: 12;
}

.up-button-img {
    background: url("../img/up-button.png") no-repeat center center;
    background-size: cover;
    width: 75px;
    height: 75px;
}

.up-button-link {
    display: block;
    width: 75px;
    height: 75px;
    z-index: 14;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

/*   Velayat Page Title   */

.velayat-page-title {
    margin-bottom: 30px;
}

/*   Responsive   */


@media only screen and (max-width: 800px) and (min-width: 100px) {

    .container {
        /*margin-top: 110px;*/
        right: 5%;
        left: 5%;
    }

    .others-img-hld {
        width: 100%;
    }

    .others-img-hld-double {
        flex-direction: column;
    }

    .others-img-hld img {
        width: 100%;
    }

    .others-img-hld-double-first-item {
        margin-bottom: 14px;
    }

    .up-button {
        bottom: 14px;
        left: 50%;
        transform: translate(-50% ,200px);
    }

    .up-button-img {
        width: 40px;
        height: 40px;
    }

    .image img {
        width: 100%;
    }

    .velayat-page-title {
        margin-bottom: 5px;
    }

    .menu-items-item-content {
        width: 90%;
    }

}


@media only screen and (max-width: 500px) {

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 13px;
    }

    .back-button a {
        font-size: 14px;
        padding: 8px;
    }

    .alem-item {
        padding: 2px 4px;
    }

}


@media only screen and (max-width: 470px) {
    .olama-item-video video {
        width: 100% !important;
    }
}